<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EncTimeGraph</servlet-name>
        <servlet-class>com.graph.EncTimeGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>REEncTimeGraph</servlet-name>
        <servlet-class>com.graph.REEncTimeGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecTimeGraph</servlet-name>
        <servlet-class>com.graph.DecTimeGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadGraph</servlet-name>
        <servlet-class>com.graph.DownloadGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttckedGraph</servlet-name>
        <servlet-class>com.graph.AttckedGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncTimeGraph</servlet-name>
        <url-pattern>/EncTimeGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>REEncTimeGraph</servlet-name>
        <url-pattern>/REEncTimeGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecTimeGraph</servlet-name>
        <url-pattern>/DecTimeGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadGraph</servlet-name>
        <url-pattern>/DownloadGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttckedGraph</servlet-name>
        <url-pattern>/AttckedGraph</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
